.lkh {
    font-size: large;
}

html {
    overscroll-behavior-x: none;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
    overscroll-behavior-x: none;
}

#top {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    padding-right: 10px;
}

#left {
    position: absolute;
    top: 100px;
    left: 5px;
    width: 70px;
    height: calc(100vh - 200px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#right {
    padding: 5px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 100px;
    left: calc(100vw - 245px);
    width: 240px;
    height: calc(100vh - 200px);
    z-index: 99999;
    border: 1px solid rgba(0,0, 0, 0.2);
    border-radius: 5px;
}

.toolbar{
    width: 16px;
    height: 16px;
}

#rtcontrol{
    position: absolute;
    top: 5px;
    left: calc(100vw - 95px);
    z-index: 99999;
}

.logo {
    width: 24px;
    height: 24px;
}

#large-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#scroll-container {
    width: 100%;
    height: 100vh;
    overflow: auto;
    margin: 0px;
    border: 0px solid grey;
    position: absolute;
    left: 0px;
    top: 0px;
}

#containerbkg {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
}

#liukehong1 {
    background: red;
}

.ui-resizable-se {
    bottom: 17px;
}

.ui-state-hover {
    color: blueviolet;
}

.ui-state-active {
    color: blueviolet;
}

.selected{
    box-shadow: inset 0px 0px 10px 2px #FF8E8F;
}
.hover{
    box-shadow: inset 0px 0px 5px 2px #8E8EFF;
}
.msgarea{
    font-size: 64px;
    z-index: 100;
    color: #FF8E8F;
    position: absolute;
    bottom: 0px;
    left: 0px;
}