.lkh {
    font-size: large;
}
html{
    overscroll-behavior-x: none; 
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
    overscroll-behavior-x: none;
}

#top {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    padding-right: 10px;
}

#left {
    position: absolute;
    top: 100px;
    left: 5px;
    width: 70px;
}
.logo{
    width: 24px;
    height: 24px;
}

#large-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#scroll-container {
    width: 100%;
    height: 100vh;
    overflow: auto;
    margin: 0px;
    border: 0px solid grey;
    position: absolute;
    left: 0px;
    top: 0px;
}

#containerbkg{
    width: 100%;
    height: 100vh;
    overflow: hidden; 
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -10;
}
#liukehong1{
    background: red;
}
.ui-resizable-se {
    bottom: 17px;
}
.ui-state-hover {
    color: blueviolet;
}
.ui-state-active {
    color: blueviolet;
}