        .st1 {
            font-family: STYuanti-SC-Light;
        }

        .st2 {
            font-size: 11.5345px
        }

        .st3 {
            font-size: 5.7672px
        }

        .st4 {
            fill: azure;
            stroke: #007fff;
            stroke-width: .4768;
            stroke-miterlimit: 10
        }

        .st5 {
            fill: rgb(21, 187, 71);
            stroke: #007fff;
            stroke-width: .4768;
            stroke-miterlimit: 10
        }

        .st9 {
            fill: #4b92db;
            stroke-width: .2447
        }

        .st10,
        .st12,
        .st14,
        .st9 {
            stroke: #039;
            stroke-miterlimit: 10
        }

        .st10 {
            fill: #f06;
            stroke-width: .2447
        }

        .st12,
        .st14 {
            fill: #ffc
        }

        .st14 {
            fill: #007fff
        }

        .st14,
        .st15 {
            stroke-width: 0;
        }

        .st15,
        .st16,
        .st17,
        .st18 {
            fill: #4b92db;
            stroke: #039;
            stroke-miterlimit: 10
        }

        .st17,
        .st18 {
            fill: #007fff
        }

        .st18 {
            fill: none
        }

        .st19 {
            stroke: #039;
            stroke-width: .1586
        }

        .st19,
        .st21,
        .st24,
        .st25 {
            stroke-miterlimit: 10
        }

        .st21 {
            fill: #fff;
            stroke: #4b92db
        }

        .st24,
        .st25 {
            fill: none;
            stroke-linecap: round
        }

        .st24 {
            stroke: #4b92db;
            stroke-width: 4
        }

        .st25 {
            stroke: #c9c
        }

        .st26 {
            fill: #fff;
            stroke: #4b92db
        }

        .st26,
        .st27,
        .st28 {
            stroke-width: .6888;
            stroke-miterlimit: 10
        }

        .st27 {
            fill: none;
            stroke: #000
        }

        .st28 {
            stroke: #4b92db
        }

        .st28,
        .st29 {
            fill: #00d5f4
        }

        .st30,
        .st31,
        .st32 {
            fill: #a4e700;
            stroke: #61d000;
            stroke-miterlimit: 10
        }

        .st31,
        .st32 {
            fill: none;
            stroke: #4b92db;
            stroke-width: .6888
        }

        .st32 {
            fill: #4b92db
        }

        .st33 {
            fill: #007fff
        }

        .st36 {
            fill: #ffc;
            stroke: #039;
            stroke-width: .25;
            stroke-miterlimit: 10
        }

        .st40 {
            font-family: STHeitiSC-Light;
        }

        .st48 {
            fill: #69f;
            stroke: #039;
            stroke-width: .286;
            stroke-miterlimit: 10
        }

        .st51 {
            fill: #fff
        }
        .st88{
fill: none; stroke: rgb(0, 51, 153); stroke-width: 0.7368; stroke-miterlimit: 10;
        }