video{
    background-color: #d8d8d8;
}
/* @media screen and (min-width:960px) {
    video{
        width: auto !important;
        height: 100% !important;
        position: inherit !important;
    }
    .video-div{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:960px) {
    video{
        width: 100% !important;
        height: auto !important;
        position: inherit !important;
    }
    .video-div{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
} */
.video-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#video_room{
    z-index:100000000000;
    position: absolute;
    top:100px; left: 100px;
    width:300px; height:240px;
    background-color: #f0f0f0;
    flex-direction: column;
    display: flex;
}
#video_room .header{
    width:100%; 
    height: 24px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#video_room .header img{
    width:40px; height:40px;
}
#video_room .videos{
    display: flex; flex-direction: row;
    height: 100%; width: 100%; padding: 5px;
}

.video-table{
    display: flex; flex-flow: column;
    margin-left:5px;
    align-items: flex-start;
    align-content: flex-start;
    width: 120px;
    height: 100%;
    overflow-y: scroll;
    justify-content: flex-start;
    background-color: aqua;
}
.video-table .video-box{
    width: 100%;
    height: 80px;
    padding:0px;
}
.rtc_user_info{
    background-color: #FF000033;
    z-index: 200;
    width:100%; height: 10px;
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
}
.rtc_user_info img{
    width:10px; height:10px;
}
.member-id{
    font-size: 8px;
}