<!DOCTYPE html>
<html>

<head>
  <title>Konva demo</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="../my-styles/style.css">
  <link rel="shortcut icon" href="./favicon.ico" />
</head>

<body>
  <div id="containerbkg"></div>
  <div  id="scroll-container">
    <div id="containermain">
      <div id="C3">
        <div id="boundingrect" class="boundingrect"></div>
        <div id="selectingrect" class="selectingrect"></div>
      </div>
    </div>
  </div>

  <div id='app'>
    <div id="toplogo" v-show="show.wsready" style="z-index: 999;">
      <b-navbar toggleable="lg" type="light">
        <b-navbar-brand>
          <img src="../assets/p8star.svg" class="logo d-inline-block align-top" alt="Kitten">
          <span class='lkh' id="greeting">KFEngine</span>
        </b-navbar-brand>
      </b-navbar>
    </div>
    <div id="waiting" v-show="!show.wsready" class="waitinglogo">
      hahaha
    </div>

    <div id="top" v-show="show.wsready" style="z-index: 999;">
      <b-navbar toggleable="lg" type="light">
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item></b-nav-item>
            <b-button-group class="coco">
              <!-- <b-button :variant="lockMode?'primary':'outline-success'">
                <b-icon icon="stop"></b-icon> MAGIC
              </b-button> -->
            </b-button-group>
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="stayright">
            <b-nav-item></b-nav-item>
            <b-nav-form>
              <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
              <b-button size="sm" class="my-0 my-sm-0" type="submit">Search</b-button>
            </b-nav-form>

            <!-- <b-nav-item-dropdown text="Lang" right>
              <b-dropdown-item href="#">EN</b-dropdown-item>
              <b-dropdown-item href="#">ES</b-dropdown-item>
              <b-dropdown-item href="#">RU</b-dropdown-item>
              <b-dropdown-item href="#">FA</b-dropdown-item>
            </b-nav-item-dropdown> -->

            <b-nav-item-dropdown right>
              <!-- Using 'button-content' slot -->
              <template v-slot:button-content>
                <em>User</em>
              </template>
              <b-dropdown-item href="#">Profile</b-dropdown-item>
              <b-dropdown-item href="#">Sign Out</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <div id="left"  v-show="show.wsready" class="bg-white" style="z-index: 999;">
      <b-list-group>
        <b-list-group-item class="d-flex align-items-center" @click="setMode('pointer');" :active="active['pointer']">
          <b-img :src="images['pointer'].src" fluid alt="" scale="2" class="cocotool"></b-img>
        </b-list-group-item>
        <b-list-group-item class="d-flex align-items-center" @click="setMode('text');" :active="active['text']">
          <b-img :src="images['text'].src" fluid alt="" scale="2" class="cocotool"></b-img>
        </b-list-group-item>
        <b-list-group-item class="d-flex align-items-center" @click="setMode('textblock');"
          :active="active['textblock']">
          <b-img :src="images['textblock'].src" fluid alt="" scale="2" class="cocotool"></b-img>
        </b-list-group-item>
        <b-list-group-item class="d-flex align-items-center" @click="setMode('yellowtip');"
          :active="active['yellowtip']">
          <b-img :src="images['tip'].src" fluid alt="" scale="2" class="cocotool"></b-img>
        </b-list-group-item>
        <b-list-group-item class="d-flex align-items-center" @click="setMode('line');" :active="active['line']">
          <b-img :src="images['line'].src" fluid alt="" scale="2" class="cocotool" id='tool_line'></b-img>
        </b-list-group-item>
        
      </b-list-group>
    </div>
    <div id="right" v-show="show.wsready">
      <b-tabs v-model="model.rightTabIndex" content-class="mt-3" justified>
        <b-tab title="样式" class='cocoproperty'>
          <b-container v-show="show.customshape">
            <b-row class="mx-auto my-1">
              <b-col >背景底色</b-col>
              <b-col class='coco'><input class="w-100" name="shapeBkgColor" id="shapeBkgColor" /></b-col>
            </b-row>
            <b-row class="mx-auto my-1">
              <b-col>边框颜色</b-col>
              <b-col class='coco'><input name="shapeBorderColor" id="shapeBorderColor" /></b-col>
            </b-row>
            <b-row class="mx-auto my-1">
              <b-col>边框粗细</b-col>
              <b-col class='coco'><input class='selector' size=3 id="spinner_border_width" name="value_bw" /></b-col>
            </b-row>
            <b-row class="mx-auto my-1">
              <b-col>圆角度数</b-col>
              <b-col class='coco'><input class='selector' size=3 id="spinner_border_radius" name="value_rad" /></b-col>
            </b-row>
          </b-container>
          <b-container v-show="show.customline">
            <b-row class="mx-auto my-1">
              <b-col >线条颜色</b-col>
              <b-col class='coco'><input name="lineColor" id="lineColor" /></b-col>
            </b-row>
            <b-row class="mx-auto my-1">
              <b-col>线条粗细</b-col>
              <b-col class='coco'><input class='selector' size=3 id="spinner_line_width" name="value_lw" /></b-col>
            </b-row>
          </b-container>
          
          <b-container v-show="show.text_property" class='border-top'>
            <div class="row mx-auto my-1">
              <div class="col">文本字体</div>
              <div class="col coco"><input class="fonts p-0"/></div>
            </div>
            <div class="row mx-auto my-1">
              <div class="col">文本颜色</div>
              <div class="col coco">
                <input name="fontColor" id="fontColor" />
              </div>
            </div>
            <div class="row mx-auto my-1">
              <div class="col">横向对齐</div>
              <div class="col coco">
                <b-form-select  id="textAlign" v-model="model.textAlign" :options="model.textAlignOptions" 
                   @change="textAlignChanged">
                  </b-form-select>
              </div>
            </div>
            <div class="row mx-auto my-1">
              <div class="col">纵向对齐</div>
              <div class="col coco">
                <b-form-select  id="vertAlign" v-model="model.vertAlign" :options="model.vertAlignOptions" 
                   @change="vertAlignChanged">
                  </b-form-select>
              </div>
            </div>
          </b-container>
          <b-container v-show="show.custombacksvg">
            <b-row v-for="tips in tip_groups" v-bind:key="tips[0]">
              <b-col class='p-1' v-for="tip in tips" v-bind:key="tip">
                <b-img :src="images[tip].src" fluid alt="" scale="2" class="cocotool" @click="setTipVariant(tip)"></b-img>
              </b-col>
            </b-row>
            <b-row class="mx-auto my-1">
              <b-col>底图颜色</b-col>
              <b-col class='coco'><input name="tipBkgColor" id="tipBkgColor" /></b-col>
            </b-row>
          </b-container>
        </b-tab>
        <b-tab title="排列">
          <b-button-toolbar v-show="show.arrange_multi_nodes" key-nav class="w-100 justify-content-md-center">
            <b-button-group class="d-flex w-100">
              <b-button variant="light" title="对齐左侧" class="flex-fill p-0" @click="KfkAlign('left')"><img
                  src="../assets/align_left.svg" class="toolbar"></b-button>
              <b-button variant="light" title="对齐垂直中线" class="flex-fill p-0" @click="KfkAlign('center')"><img
                  src="../assets/align_center.svg" class="toolbar"></b-button>
              <b-button variant="light" title="对齐右侧" class="flex-fill p-0" @click="KfkAlign('right')"><img
                  src="../assets/align_right.svg" class="toolbar"></b-button>
              <b-button variant="light" title="对齐顶部" class="flex-fill p-0" @click="KfkAlign('top')"><img
                  src="../assets/align_top.svg" class="toolbar"></b-button>
              <b-button variant="light" title="对齐水平中线" class="flex-fill p-0" @click="KfkAlign('middle')"><img
                  src="../assets/align_middle.svg" class="toolbar"></b-button>
              <b-button variant="light" title="对齐底部" class="flex-fill p-0" @click="KfkAlign('bottom')"><img
                  src="../assets/align_bottom.svg" class="toolbar"></b-button>
            </b-button-group>
          </b-button-toolbar>
          <b-button-toolbar v-show="show.arrange_multi_nodes" key-nav class="w-100 justify-content-md-center">
            <b-button-group class="d-flex w-100">
              <b-button variant="light" class="flex-fill" title="横向均匀分布" @click="KfkAlign('hori')"><img
                  src="../assets/align_hori.svg" class="toolbar"></b-button>
              <b-button variant="light" class="flex-fill" title="纵向均匀分布" @click="KfkAlign('vert')"><img
                  src="../assets/align_vert.svg" class="toolbar"></b-button>
            </b-button-group>
          </b-button-toolbar>
        </b-tab>
        <b-tab title="COCO" active class='cocoproperty'>
          <p>欢迎使用</p>
          <b-checkbox id="cb-showgrid" v-model="model.showGrid" name="cb-showgrid" switch @change="showGridChanged">
            显示网格线
          </b-checkbox>
          <b-checkbox v-model="model.snap" switch @change="snapChanged">对齐到网格
          </b-checkbox>
          <p> </p>
          <b-container class="coco">
            <b-row class="mx-auto my-1">
              <b-col>背景颜色</b-col>
              <b-col class="coco"><input name="cocoBkgColor" id="cocoBkgColor" /></b-col>
            </b-row>
          </b-container>
          <b-container class="coco">
            <b-row class="mx-auto my-1">
              <b-col>显示编辑者</b-col>
            </b-row>
            <b-row class="mx-auto my-1">
              <b-form-radio v-model="model.showEditor" name="some-radios" value="none" @change="showEditorChanged('none')">隐藏</b-form-radio>
              <b-form-radio v-model="model.showEditor" name="some-radios" value="last" @change="showEditorChanged('last')">最近</b-form-radio>
              <b-form-radio v-model="model.showEditor" name="some-radios" value="all" @change="showEditorChanged('all')">全部</b-form-radio>
            </b-row>
          </b-container>
        </b-tab>
        </b-tab>
      </b-tabs>
    </div>
    <div id="rtcontrol"  v-show="show.wsready">
      <b-button-group class="coco">
        <b-button id="toggle_all" variant="outline-success" @click="fullScreen">
          <b-icon icon="arrows-fullscreen"></b-icon>
        </b-button>
        <b-button id="toggle-right" variant="outline-success" @click="toggleRight">
          <b-icon icon="layout-sidebar-reverse"></b-icon>
        </b-button>
      </b-button-group>
    </div>
    <div id="modeIndicator" style="position:absolute; top: 0px; left: 0px; display: none; ">
      <img id="modeIndicatorImg" src="../assets/pointer.svg" style='width: 18px; height: 18px;' />
    </div>
    <img id="linetransformer" src="../assets/linetransformer.svg"
      style="position: absolute; top:10px; height: 10px; width: 20px; height: 20px; z-index: 9999; visibility: hidden;" />
    <div id="MSG" class="msgarea">{{model.msg}}</div>
  </div>
  <script src="./pad.js"></script>
</body>

</html>